In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('C:/Users/L/DSBA/항공사/데이터 관련/train.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959301 entries, 0 to 959300
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                959301 non-null  int64
 1   ID                        959301 non-null  object
 2   Month                     959301 non-null  int64
 3   Day_of_Month              959301 non-null  int64
 4   Estimated_Departure_Time  854693 non-null  float64
 5   Estimated_Arrival_Time    854676 non-null  float64
 6   Cancelled                 959301 non-null  int64
 7   Diverted                  959301 non-null  int64
 8   Origin_Airport            959301 non-null  object
 9   Origin_Airport_ID         959301 non-null  int64
 10  Origin_State              959301 non-null  object
 11  Destination_Airport       959301 non-null  object
 12  Destination_Airport_ID    959301 non-null  int64
 13  Destination_State         959301 non-null  object
 14  Distance                  959301 non-null  float64
 15  Airline                   865052 non-null  object
 16  Carrier_Code(IATA)        854687 non-null  object
 17  Carrier_ID(DOT)           959301 non-null  float64
 18  Tail_Number               959301 non-null  object
 19  Delay                     244705 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 146.4+ MB

In [5]:
train.Airline.unique()

array(['Southwest Airlines Co.', 'SkyWest Airlines Inc.',
       'American Airlines Inc.', 'United Air Lines Inc.',
       'Republic Airlines', nan, 'ExpressJet Airlines Inc.',
       'Delta Air Lines Inc.', 'Air Wisconsin Airlines Corp',
       'Horizon Air', 'JetBlue Airways', 'Spirit Air Lines',
       'Alaska Airlines Inc.', 'Mesa Airlines Inc.',
       'Frontier Airlines Inc.', 'Trans States Airlines',
       'Endeavor Air Inc.', 'Comair Inc.', 'Capital Cargo International',
       'Envoy Air', 'Hawaiian Airlines Inc.', 'Allegiant Air',
       'Virgin America', 'Peninsula Airways Inc.', 'Compass Airlines',
       'GoJet Airlines, LLC d/b/a United Express',
       'Commutair Aka Champlain Enterprises, Inc.',
       'Empire Airlines Inc.', 'Cape Air'], dtype=object)

In [6]:
cond1 = train['Carrier_ID(DOT)'].isnull()
cond2 = ~train['Airline'].isnull()
print("Carrier_ID(DOT) 복구 가능한 데이터의 개수 :", len(train.loc[cond1 & cond2, :]))

Carrier_ID(DOT) 복구 가능한 데이터의 개수 : 97114

In [7]:
# airline to carrier id, dictinary 만들기
# 모두 데이터가 존재하는 열에서 Dict[Airline] = carrier_ID(DOT) 가 되도록 dictionary 생성
airline_to_cid = {}
for _, row in train[(~train['Carrier_ID(DOT)'].isnull() & ~train['Airline'].isnull())].iterrows():
    airline_to_cid[row['Airline']] = row['Carrier_ID(DOT)']

In [8]:
airline_to_cid

{'Southwest Airlines Co.': 19393.0,
 'SkyWest Airlines Inc.': 20304.0,
 'American Airlines Inc.': 19805.0,
 'Republic Airlines': 20452.0,
 'ExpressJet Airlines Inc.': 20366.0,
 'Delta Air Lines Inc.': 19790.0,
 'Air Wisconsin Airlines Corp': 20046.0,
 'Horizon Air': 19687.0,
 'JetBlue Airways': 20409.0,
 'Spirit Air Lines': 20416.0,
 'Alaska Airlines Inc.': 19930.0,
 'United Air Lines Inc.': 19977.0,
 'Mesa Airlines Inc.': 20378.0,
 'Frontier Airlines Inc.': 20436.0,
 'Trans States Airlines': 20237.0,
 'Comair Inc.': 20397.0,
 'Endeavor Air Inc.': 20363.0,
 'Capital Cargo International': 20427.0,
 'Envoy Air': 20398.0,
 'Hawaiian Airlines Inc.': 19690.0,
 'Allegiant Air': 20368.0,
 'Virgin America': 21171.0,
 'Peninsula Airways Inc.': 20225.0,
 'Compass Airlines': 21167.0,
 'GoJet Airlines, LLC d/b/a United Express': 20500.0,
 'Commutair Aka Champlain Enterprises, Inc.': 20445.0,
 'Empire Airlines Inc.': 20263.0,
 'Cape Air': 20253.0}

In [9]:
# 복구하기
def to_cid(x):
    return airline_to_cid[x]

cond1 = train['Carrier_ID(DOT)'].isnull()
cond2 = ~train['Airline'].isnull()
train.loc[cond1&cond2, 'Carrier_ID(DOT)'] = train.loc[cond1&cond2, 'Airline'].apply(lambda x: to_cid(x))

In [10]:
# 복구 안 된 row 빼기
train = train.dropna(subset=['Carrier_ID(DOT)'], how='any', axis=0)

In [11]:
train.to_csv('C:/Users/L/Desktop/train.csv')

In [ ]:
#여기까진 진행했음 이 밑으로 실행하면 됨

In [12]:
train_copy = train.copy

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988117 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        988117 non-null  object
 1   Month                     988117 non-null  int64
 2   Day_of_Month              988117 non-null  int64
 3   Estimated_Departure_Time  880391 non-null  float64
 4   Estimated_Arrival_Time    880328 non-null  float64
 5   Cancelled                 988117 non-null  int64
 6   Diverted                  988117 non-null  int64
 7   Origin_Airport            988117 non-null  object
 8   Origin_Airport_ID         988117 non-null  int64
 9   Origin_State              880378 non-null  object
 10  Destination_Airport       988117 non-null  object
 11  Destination_Airport_ID    988117 non-null  int64
 12  Destination_State         880335 non-null  object
 13  Distance                  988117 non-null  float64
 14  Airline                   891080 non-null  object
 15  Carrier_Code(IATA)        880400 non-null  object
 16  Carrier_ID(DOT)           988117 non-null  float64
 17  Tail_Number               988117 non-null  object
 18  Delay                     252016 non-null  object
dtypes: float64(4), int64(6), object(9)
memory usage: 150.8+ MB

In [ ]:
#출발지

In [26]:
missing_rows = train[train['Origin_Airport_ID'].isna() & train['Origin_State'].isna()]

In [27]:
missing_rows #둘 다 결측치 있는건 없음.

Empty DataFrame
Columns: [Unnamed: 0, ID, Month, Day_of_Month, Estimated_Departure_Time, Estimated_Arrival_Time, Cancelled, Diverted, Origin_Airport, Origin_Airport_ID, Origin_State, Destination_Airport, Destination_Airport_ID, Destination_State, Distance, Airline, Carrier_Code(IATA), Carrier_ID(DOT), Tail_Number, Delay]
Index: []

In [17]:
# 결측값이 있는 행 찾기
missing_state_rows = train[train['Origin_State'].isna()]

# 결측값을 채워넣기
for index, row in missing_state_rows.iterrows():
    Origin_airport_id = row['Origin_Airport_ID']
    if not pd.isna(Origin_airport_id):
        # Destination_Airport_ID에 대응하는 Origin_State 값 찾기
        corresponding_state = train.loc[train['Origin_Airport_ID'] == Origin_airport_id, 'Origin_State'].iloc[0]
        train.at[index, 'Origin_State'] = corresponding_state

print(train)

                  ID  Month  Day_of_Month  Estimated_Departure_Time  \
0       TRAIN_000000      4            15                       NaN
1       TRAIN_000001      8            15                     740.0
2       TRAIN_000002      9             6                    1610.0
3       TRAIN_000003      7            10                     905.0
4       TRAIN_000004      1            11                     900.0
...              ...    ...           ...                       ...
999995  TRAIN_999995      9            18                     936.0
999996  TRAIN_999996      5            30                     920.0
999997  TRAIN_999997      6            28                     800.0
999998  TRAIN_999998      9            27                    1613.0
999999  TRAIN_999999      3            26                    1800.0

        Estimated_Arrival_Time  Cancelled  Diverted Origin_Airport  \
0                          NaN          0         0            OKC
1                       1024.0          0         0            ORD
2                       1805.0          0         0            CLT
3                       1735.0          0         0            LAX
4                       1019.0          0         0            SFO
...                        ...        ...       ...            ...
999995                  1243.0          0         0            ORD
999996                  1028.0          0         0            FAR
999997                  1340.0          0         0            OAK
999998                  1824.0          0         0            BNA
999999                  2056.0          0         0            RSW

        Origin_Airport_ID    Origin_State Destination_Airport  \
0                   13851        Oklahoma                 HOU
1                   13930        Illinois                 SLC
2                   11057  North Carolina                 LGA
3                   12892      California                 EWR
4                   14771      California                 ACV
...                   ...             ...                 ...
999995              13930        Illinois                 PHL
999996              11637    North Dakota                 MSP
999997              13796      California                 HOU
999998              10693       Tennessee                 ATL
999999              14635         Florida                 DTW

        Destination_Airport_ID Destination_State  Distance  \
0                        12191             Texas     419.0
1                        14869              Utah    1250.0
2                        12953          New York     544.0
3                        11618        New Jersey    2454.0
4                        10157        California     250.0
...                        ...               ...       ...
999995                   14100      Pennsylvania     678.0
999996                   13487         Minnesota     223.0
999997                   12191             Texas    1642.0
999998                   10397           Georgia     214.0
999999                   11433          Michigan    1084.0

                       Airline Carrier_Code(IATA)  Carrier_ID(DOT)  \
0       Southwest Airlines Co.                 WN          19393.0
1        SkyWest Airlines Inc.                 UA          20304.0
2       American Airlines Inc.                 AA          19805.0
3        United Air Lines Inc.                 UA          19977.0
4        SkyWest Airlines Inc.                 UA          20304.0
...                        ...                ...              ...
999995   United Air Lines Inc.                 UA          19977.0
999996   SkyWest Airlines Inc.                 DL          20304.0
999997  Southwest Airlines Co.                 WN          19393.0
999998    Delta Air Lines Inc.                 DL          19790.0
999999                     NaN                 DL          19790.0

       Tail_Number Delay
0           N7858A   NaN
1           N125SY   NaN
2           N103US   NaN
3           N595UA   NaN
4           N161SY   NaN
...            ...   ...
999995      N477UA   NaN
999996      N439SW   NaN
999997      N230WN   NaN
999998      N968DL   NaN
999999      N695DL   NaN

[988117 rows x 19 columns]

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988117 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        988117 non-null  object
 1   Month                     988117 non-null  int64
 2   Day_of_Month              988117 non-null  int64
 3   Estimated_Departure_Time  880391 non-null  float64
 4   Estimated_Arrival_Time    880328 non-null  float64
 5   Cancelled                 988117 non-null  int64
 6   Diverted                  988117 non-null  int64
 7   Origin_Airport            988117 non-null  object
 8   Origin_Airport_ID         988117 non-null  int64
 9   Origin_State              971475 non-null  object
 10  Destination_Airport       988117 non-null  object
 11  Destination_Airport_ID    988117 non-null  int64
 12  Destination_State         975747 non-null  object
 13  Distance                  988117 non-null  float64
 14  Airline                   891080 non-null  object
 15  Carrier_Code(IATA)        880400 non-null  object
 16  Carrier_ID(DOT)           988117 non-null  float64
 17  Tail_Number               988117 non-null  object
 18  Delay                     252016 non-null  object
dtypes: float64(4), int64(6), object(9)
memory usage: 183.0+ MB

In [28]:
train.Origin_State.isna().sum()

16642

In [29]:
train.Destination_State.isna().sum()

12370

In [ ]:
#도착지

In [14]:
missing_rows2 = train[train['Destination_Airport_ID'].isna() & train['Destination_State'].isna()]
missing_rows2
#확인 완료

Empty DataFrame
Columns: [ID, Month, Day_of_Month, Estimated_Departure_Time, Estimated_Arrival_Time, Cancelled, Diverted, Origin_Airport, Origin_Airport_ID, Origin_State, Destination_Airport, Destination_Airport_ID, Destination_State, Distance, Airline, Carrier_Code(IATA), Carrier_ID(DOT), Tail_Number, Delay]
Index: []

In [15]:
# 결측값이 있는 행 찾기
missing_state_rows_D = train[train['Destination_State'].isna()]

# 결측값을 채워넣기
for index, row in missing_state_rows_D.iterrows():
    destination_airport_id = row['Destination_Airport_ID']
    if not pd.isna(destination_airport_id):
        # Destination_Airport_ID에 대응하는 Origin_State 값 찾기
        corresponding_state = train.loc[train['Destination_Airport_ID'] == destination_airport_id, 'Destination_State'].iloc[0]
        train.at[index, 'Destination_State'] = corresponding_state

print(train)

                  ID  Month  Day_of_Month  Estimated_Departure_Time  \
0       TRAIN_000000      4            15                       NaN
1       TRAIN_000001      8            15                     740.0
2       TRAIN_000002      9             6                    1610.0
3       TRAIN_000003      7            10                     905.0
4       TRAIN_000004      1            11                     900.0
...              ...    ...           ...                       ...
999995  TRAIN_999995      9            18                     936.0
999996  TRAIN_999996      5            30                     920.0
999997  TRAIN_999997      6            28                     800.0
999998  TRAIN_999998      9            27                    1613.0
999999  TRAIN_999999      3            26                    1800.0

        Estimated_Arrival_Time  Cancelled  Diverted Origin_Airport  \
0                          NaN          0         0            OKC
1                       1024.0          0         0            ORD
2                       1805.0          0         0            CLT
3                       1735.0          0         0            LAX
4                       1019.0          0         0            SFO
...                        ...        ...       ...            ...
999995                  1243.0          0         0            ORD
999996                  1028.0          0         0            FAR
999997                  1340.0          0         0            OAK
999998                  1824.0          0         0            BNA
999999                  2056.0          0         0            RSW

        Origin_Airport_ID    Origin_State Destination_Airport  \
0                   13851        Oklahoma                 HOU
1                   13930        Illinois                 SLC
2                   11057  North Carolina                 LGA
3                   12892      California                 EWR
4                   14771      California                 ACV
...                   ...             ...                 ...
999995              13930             NaN                 PHL
999996              11637             NaN                 MSP
999997              13796             NaN                 HOU
999998              10693       Tennessee                 ATL
999999              14635         Florida                 DTW

        Destination_Airport_ID Destination_State  Distance  \
0                        12191             Texas     419.0
1                        14869              Utah    1250.0
2                        12953          New York     544.0
3                        11618        New Jersey    2454.0
4                        10157        California     250.0
...                        ...               ...       ...
999995                   14100      Pennsylvania     678.0
999996                   13487         Minnesota     223.0
999997                   12191             Texas    1642.0
999998                   10397           Georgia     214.0
999999                   11433          Michigan    1084.0

                       Airline Carrier_Code(IATA)  Carrier_ID(DOT)  \
0       Southwest Airlines Co.                 WN          19393.0
1        SkyWest Airlines Inc.                 UA          20304.0
2       American Airlines Inc.                 AA          19805.0
3        United Air Lines Inc.                 UA          19977.0
4        SkyWest Airlines Inc.                 UA          20304.0
...                        ...                ...              ...
999995   United Air Lines Inc.                 UA          19977.0
999996   SkyWest Airlines Inc.                 DL          20304.0
999997  Southwest Airlines Co.                 WN          19393.0
999998    Delta Air Lines Inc.                 DL          19790.0
999999                     NaN                 DL          19790.0

       Tail_Number Delay
0           N7858A   NaN
1           N125SY   NaN
2           N103US   NaN
3           N595UA   NaN
4           N161SY   NaN
...            ...   ...
999995      N477UA   NaN
999996      N439SW   NaN
999997      N230WN   NaN
999998      N968DL   NaN
999999      N695DL   NaN

[988117 rows x 19 columns]

In [16]:
train.Destination_State.unique()

array(['Texas', 'Utah', 'New York', 'New Jersey', 'California',
       'Virginia', 'Massachusetts', 'Missouri', 'North Carolina',
       'Pennsylvania', 'Michigan', 'Colorado', 'Nevada', 'Florida', nan,
       'Georgia', 'Alabama', 'Washington', 'Alaska', 'Kentucky', 'Oregon',
       'Oklahoma', 'Rhode Island', 'Tennessee', 'Minnesota', 'Arizona',
       'Indiana', 'Illinois', 'Ohio', 'Maryland', 'Hawaii', 'Connecticut',
       'New Hampshire', 'West Virginia', 'Arkansas', 'North Dakota',
       'New Mexico', 'South Carolina', 'Montana', 'Wisconsin', 'Maine',
       'Nebraska', 'Mississippi', 'Puerto Rico', 'South Dakota',
       'Louisiana', 'Wyoming', 'Idaho', 'Kansas', 'Iowa', 'Vermont',
       'U.S. Pacific Trust Territories and Possessions',
       'U.S. Virgin Islands'], dtype=object)

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988117 entries, 0 to 988116
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                988117 non-null  int64
 1   ID                        988117 non-null  object
 2   Month                     988117 non-null  int64
 3   Day_of_Month              988117 non-null  int64
 4   Estimated_Departure_Time  880391 non-null  float64
 5   Estimated_Arrival_Time    880328 non-null  float64
 6   Cancelled                 988117 non-null  int64
 7   Diverted                  988117 non-null  int64
 8   Origin_Airport            988117 non-null  object
 9   Origin_Airport_ID         988117 non-null  int64
 10  Origin_State              988117 non-null  object
 11  Destination_Airport       988117 non-null  object
 12  Destination_Airport_ID    988117 non-null  int64
 13  Destination_State         988117 non-null  object
 14  Distance                  988117 non-null  float64
 15  Airline                   891080 non-null  object
 16  Carrier_Code(IATA)        880400 non-null  object
 17  Carrier_ID(DOT)           988117 non-null  float64
 18  Tail_Number               988117 non-null  object
 19  Delay                     252016 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 150.8+ MB

In [30]:
# NaN 값이 있는 행 제거
train = train.dropna(subset=['Destination_State'])
train = train.dropna(subset=['Origin_State'])

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 959301 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        959301 non-null  object
 1   Month                     959301 non-null  int64
 2   Day_of_Month              959301 non-null  int64
 3   Estimated_Departure_Time  854693 non-null  float64
 4   Estimated_Arrival_Time    854676 non-null  float64
 5   Cancelled                 959301 non-null  int64
 6   Diverted                  959301 non-null  int64
 7   Origin_Airport            959301 non-null  object
 8   Origin_Airport_ID         959301 non-null  int64
 9   Origin_State              959301 non-null  object
 10  Destination_Airport       959301 non-null  object
 11  Destination_Airport_ID    959301 non-null  int64
 12  Destination_State         959301 non-null  object
 13  Distance                  959301 non-null  float64
 14  Airline                   865052 non-null  object
 15  Carrier_Code(IATA)        854687 non-null  object
 16  Carrier_ID(DOT)           959301 non-null  float64
 17  Tail_Number               959301 non-null  object
 18  Delay                     244705 non-null  object
dtypes: float64(4), int64(6), object(9)
memory usage: 146.4+ MB

In [ ]:
#Estimated_~_time 평균값내서 넣어주기 (특정 출발지 ~ 도착치의 평균을 내서 넣어주기)

In [5]:
train = train.dropna(subset=['Estimated_Arrival_Time', 'Estimated_Departure_Time'], how ='all', axis=0) #Arrival과 Departure 타임 열 둘 다 없는거 삭제해주기

In [6]:
train.info() #10000개 정도 없어진 걸 확인

<class 'pandas.core.frame.DataFrame'>
Index: 948091 entries, 1 to 959300
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                948091 non-null  int64
 1   ID                        948091 non-null  object
 2   Month                     948091 non-null  int64
 3   Day_of_Month              948091 non-null  int64
 4   Estimated_Departure_Time  854693 non-null  float64
 5   Estimated_Arrival_Time    854676 non-null  float64
 6   Cancelled                 948091 non-null  int64
 7   Diverted                  948091 non-null  int64
 8   Origin_Airport            948091 non-null  object
 9   Origin_Airport_ID         948091 non-null  int64
 10  Origin_State              948091 non-null  object
 11  Destination_Airport       948091 non-null  object
 12  Destination_Airport_ID    948091 non-null  int64
 13  Destination_State         948091 non-null  object
 14  Distance                  948091 non-null  float64
 15  Airline                   854947 non-null  object
 16  Carrier_Code(IATA)        844690 non-null  object
 17  Carrier_ID(DOT)           948091 non-null  float64
 18  Tail_Number               948091 non-null  object
 19  Delay                     241797 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 151.9+ MB

In [8]:
def to_minutes(x):
    x = int(x)
    x = str(x)
    if len(x) > 2:
        hours, mins = int(x[:-2]), int(x[-2:])
    else:
        hours, mins = 0, int(x[-2:])
    return hours*60+mins

estimated_times = ['Estimated_Departure_Time', 'Estimated_Arrival_Time']

for ET in estimated_times:
    cond = ~train[ET].isnull()
    train.loc[cond, ET] = train.loc[cond, ET].apply(lambda x: to_minutes(x))
    
# 정리하자면, 특정 공항에서 특정 공항까지의 시간을 모두 뽑아낸 후에, 그 시간의 평균을 내준 다음 공항

In [9]:
#(OAID, DAID)를 키로 갖고, 평균 비행시간을 값으로 갖는 dictionary 만들기
from collections import defaultdict
time_flying = defaultdict(int)
time_number = defaultdict(int)

cond_arr2 = ~train['Estimated_Arrival_Time'].isnull()
cond_dep2 = ~train['Estimated_Departure_Time'].isnull()

for _, row in train.loc[cond_arr2 & cond_dep2, :].iterrows():
    OAID, DAID = row['Origin_Airport_ID'], row['Destination_Airport_ID']
    time_flying[(OAID,DAID)] += (row['Estimated_Arrival_Time'] - row['Estimated_Departure_Time'])%1440 # 하루 최대는 1440분
    time_number[(OAID,DAID)] += 1
    
    
for key in time_flying.keys():
    time_flying[key] /= time_number[key]

In [10]:
for index, row in train.loc[train['Estimated_Departure_Time'].isnull(),].iterrows():
    OAID, DAID = row['Origin_Airport_ID'], row['Destination_Airport_ID']
    train.loc[index,'Estimated_Departure_Time'] = \
        (train.loc[index]['Estimated_Arrival_Time'] - time_flying[(OAID, DAID)])%1440
    
for index, row in train.loc[train['Estimated_Arrival_Time'].isnull(),].iterrows():
    OAID, DAID = row['Origin_Airport_ID'], row['Destination_Airport_ID']
    train.loc[index,'Estimated_Arrival_Time'] = \
        (train.loc[index]['Estimated_Departure_Time'] + time_flying[(OAID, DAID)])%1440

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 948091 entries, 1 to 959300
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                948091 non-null  int64
 1   ID                        948091 non-null  object
 2   Month                     948091 non-null  int64
 3   Day_of_Month              948091 non-null  int64
 4   Estimated_Departure_Time  948091 non-null  float64
 5   Estimated_Arrival_Time    948091 non-null  float64
 6   Cancelled                 948091 non-null  int64
 7   Diverted                  948091 non-null  int64
 8   Origin_Airport            948091 non-null  object
 9   Origin_Airport_ID         948091 non-null  int64
 10  Origin_State              948091 non-null  object
 11  Destination_Airport       948091 non-null  object
 12  Destination_Airport_ID    948091 non-null  int64
 13  Destination_State         948091 non-null  object
 14  Distance                  948091 non-null  float64
 15  Airline                   854947 non-null  object
 16  Carrier_Code(IATA)        844690 non-null  object
 17  Carrier_ID(DOT)           948091 non-null  float64
 18  Tail_Number               948091 non-null  object
 19  Delay                     241797 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 184.2+ MB

In [13]:
# Airline과 Carrier_Code(IATA)의 빈도수 확인
airline_counts = train['Airline'].value_counts()
carrier_counts = train['Origin_Airport_ID'].value_counts()

# 1:1 매핑인 항목만 필터링
unique_airlines = airline_counts[airline_counts == 1].index
unique_carriers = carrier_counts[carrier_counts == 1].index

# 필터링된 데이터프레임 생성
filtered_train = train[train['Airline'].isin(unique_airlines) & train['Origin_Airport_ID'].isin(unique_carriers)]

# 딕셔너리 생성
airline_carrier_dict = pd.Series(filtered_train['Origin_Airport_ID'].values, index=filtered_train['Airline']).to_dict()

print(airline_carrier_dict)

{}

In [14]:
# Airline과 Carrier_Code(IATA)의 빈도수 확인
airline_counts = train['Airline'].value_counts()
carrier_counts = train['Carrier_Code(IATA)'].value_counts()

# 1:1 매핑인 항목만 필터링
unique_airlines = airline_counts[airline_counts == 1].index
unique_carriers = carrier_counts[carrier_counts == 1].index

# 필터링된 데이터프레임 생성
filtered_train = train[train['Airline'].isin(unique_airlines) & train['Carrier_Code(IATA)'].isin(unique_carriers)]

# 딕셔너리 생성
airline_carrier_dict = pd.Series(filtered_train['Carrier_Code(IATA)'].values, index=filtered_train['Airline']).to_dict()

print(airline_carrier_dict)

{}

In [ ]:
#Airline의 결측치는 1:1으로 대응하는 값이 없기 때문에 매칭해서 넣을 수 없음. (다른 항공사가 같은 Airline을 쓰는 경우가 있기 때문에 분리하지 못함)
# 즉, Airline의 결측치는 모두 NaN이 든 열을 제거해야 한다.

In [15]:
train = train.dropna(subset=['Airline'])

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 854947 entries, 1 to 959299
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                854947 non-null  int64
 1   ID                        854947 non-null  object
 2   Month                     854947 non-null  int64
 3   Day_of_Month              854947 non-null  int64
 4   Estimated_Departure_Time  854947 non-null  float64
 5   Estimated_Arrival_Time    854947 non-null  float64
 6   Cancelled                 854947 non-null  int64
 7   Diverted                  854947 non-null  int64
 8   Origin_Airport            854947 non-null  object
 9   Origin_Airport_ID         854947 non-null  int64
 10  Origin_State              854947 non-null  object
 11  Destination_Airport       854947 non-null  object
 12  Destination_Airport_ID    854947 non-null  int64
 13  Destination_State         854947 non-null  object
 14  Distance                  854947 non-null  float64
 15  Airline                   854947 non-null  object
 16  Carrier_Code(IATA)        761721 non-null  object
 17  Carrier_ID(DOT)           854947 non-null  float64
 18  Tail_Number               854947 non-null  object
 19  Delay                     218250 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 137.0+ MB

In [22]:
columns_to_drop = ['Carrier_Code(IATA)', 'Carrier_ID(DOT)', 'Tail_Number','Unnamed: 0']
train_dropped = train.drop(columns=columns_to_drop)

In [23]:
train_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 854947 entries, 1 to 959299
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        854947 non-null  object
 1   Month                     854947 non-null  int64
 2   Day_of_Month              854947 non-null  int64
 3   Estimated_Departure_Time  854947 non-null  float64
 4   Estimated_Arrival_Time    854947 non-null  float64
 5   Cancelled                 854947 non-null  int64
 6   Diverted                  854947 non-null  int64
 7   Origin_Airport            854947 non-null  object
 8   Origin_Airport_ID         854947 non-null  int64
 9   Origin_State              854947 non-null  object
 10  Destination_Airport       854947 non-null  object
 11  Destination_Airport_ID    854947 non-null  int64
 12  Destination_State         854947 non-null  object
 13  Distance                  854947 non-null  float64
 14  Airline                   854947 non-null  object
 15  Delay                     218250 non-null  object
dtypes: float64(3), int64(6), object(7)
memory usage: 110.9+ MB

In [26]:
train_dropped = train_dropped.rename(columns={'ID': '샘플고유ID'})
train_dropped = train_dropped.rename(columns={'Month': '월'})
train_dropped = train_dropped.rename(columns={'Day_of_Month': '일'})
train_dropped = train_dropped.rename(columns={'Estimated_Departure_Time': '출발예측시간'})
train_dropped = train_dropped.rename(columns={'Estimated_Arrival_Time': '도착예측시간'})
train_dropped = train_dropped.rename(columns={'Cancelled': '결항여부'})
train_dropped = train_dropped.rename(columns={'Diverted': '경유여부'})
train_dropped = train_dropped.rename(columns={'Origin_Airport': '출발공항고유코드'})
train_dropped = train_dropped.rename(columns={'Origin_Airport_ID': '출발공항고유ID'})
train_dropped = train_dropped.rename(columns={'Origin_State': '출발공항_주'})
train_dropped = train_dropped.rename(columns={'Destination_Airport': '도착공항고유코드'})
train_dropped = train_dropped.rename(columns={'Destination_Airport_ID': '도착공항고유ID'})
train_dropped = train_dropped.rename(columns={'Destination_State': '도착공항_주'})
train_dropped = train_dropped.rename(columns={'Distance': '이동거리'})
train_dropped = train_dropped.rename(columns={'Airline': '항공사'})
train_dropped = train_dropped.rename(columns={'Delay': '항공편지연여부'})

In [27]:
train_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 854947 entries, 1 to 959299
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   샘플고유ID    854947 non-null  object
 1   월         854947 non-null  int64
 2   일         854947 non-null  int64
 3   출발예측시간    854947 non-null  float64
 4   도착예측시간    854947 non-null  float64
 5   결항여부      854947 non-null  int64
 6   경유여부      854947 non-null  int64
 7   출발공항고유코드  854947 non-null  object
 8   출발공항고유ID  854947 non-null  int64
 9   출발공항_주    854947 non-null  object
 10  도착공항고유코드  854947 non-null  object
 11  초닥공항고유ID  854947 non-null  int64
 12  도착공항_주    854947 non-null  object
 13  이동거리      854947 non-null  float64
 14  항공사       854947 non-null  object
 15  항공편지연여부   218250 non-null  object
dtypes: float64(3), int64(6), object(7)
memory usage: 110.9+ MB

In [1]:
train_dropped.to_csv('C:/Users/L/Desktop/train (전처리 완료).csv')

NameError: name 'train_dropped' is not defined